.user-profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    padding: 40px;
    font-size: 1.2rem;
    box-sizing: border-box;
    text-align: left;

}

h1 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.user-fullname {
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.label {
    font-weight: bold;
    color: #333;
    margin-right: 8px;
}

.user-profile p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #333;
}


.user-profile p b {
    font-weight: 700;
    display: inline-block;
    width: 130px;
}


.user-profile a {
    text-decoration: none;
    word-break: break-word;
}

.user-profile a:hover {
    text-decoration: underline;
}

.image-preview {
    width: 150px;
    /* square size */
    height: 150px;
    /* square size */
    border-radius: 10px;
    /* rounded corners */
    overflow: hidden;
    border: 1px solid #ccc;
    /* matches form input style */
    margin-bottom: 15px;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* ensures proper cropping */
}

.btn-logout {
    background-color: red;
    color: #333;
    /* color: #ccc; */
    text-align: center;
}

/* responsive*/

@media (max-width: 1024px) {
    .user-profile {
        padding: 30px;
        font-size: 1.1rem;
    }

    .user-fullname {
        font-size: 1.4rem;
    }

    .user-profile p {
        font-size: 1rem;
    }

    .user-profile p b {
        width: 120px;
    }
}

@media (max-width: 768px) {
    .user-profile {
        padding: 20px;
        font-size: 1rem;
    }

    .user-fullname {
        font-size: 1.2rem;
    }

    .user-profile p {
        font-size: 0.95rem;
    }

    .user-profile p b {
        width: 110px;
    }
}

@media (max-width: 480px) {
    .user-profile {
        padding: 15 font-size: 0.95rem;
    }

    .user-fullname {
        font-size: 1rem;
        flex-direction: column;
        white-space: normal;
    }

    .user-profile p {
        font-size: 0.85rem;
    }

    .user-profile p b {
        width: 100px;
    }

    h1 {
        font-size: 1.5rem;
    }
}