body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://images.unsplash.com/photo-1659367057358-87cd8dede838?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}

@media (max-width: 768px) {
  body {
    background-image: url('https://images.unsplash.com/photo-1659367057358-87cd8dede838?q=80&w=800&auto=format&fit=crop');
  }
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
  z-index: -1;
}

.App {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.hero {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 60px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  margin-top: 100px;
}

.hero h1,
.hero p {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.hero p {
  font-size: 1.2rem;
  color: #5c5c5c;
}

.section {
  background-color: rgba(255, 255, 255, 0.85);
  /* light background */
  padding: 40px 20px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 700px;
  height: 700px;
  text-align: center;
}

section h2 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 15px;
}

section p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #444;
}

h2 {
  color: #6c584c;
  margin-bottom: 15px;
  text-align: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.footer {
  font-size: 1.2rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .footer {
    display: flex;
    text-align: center;
    position: fixed;
    color: white;
    font-size: clamp(0.75rem, 1.5vw, 1.25rem);
  }
}

* {
  box-sizing: border-box;
}