@media (max-width: 775px) {

    .container {
        width: 100%;
        margin: 0 auto;
        font-size: 0.5rem;
    }

    .about h1 {
        font-size: 2rem;
    }

    .about p {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {

    .container {
        width: 100%;
        margin: 0 auto;
        font-size: 1rem;
    }

    .about h1 {
        font-size: 2rem;
    }

    .about p {
        font-size: 0.8rem;
    }
}