.cancellations {
    font-style: italic;
    font-size: 0.7rem;
    color: red;
}

/* new  */

.workshopFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px 0;
    padding: 0 10px;
    box-sizing: border-box;
}

.workshopName {
    font-size: 2rem;
    color: darkslategrey;
    margin-bottom: 10px;
}

.workshopDiv {
    border: 4px solid black;
    border-radius: 25px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}

/* end of new */

@media (max-width: 775px) {

    .container {
        width: 100%;
        margin: 0 auto;
        font-size: 0.5rem;
    }

    .classes h1 {
        font-size: 2rem;
    }

    .classes p {
        font-size: 0.8rem;
    }

    .classes p.cancellations {
        font-style: italic;
        font-size: 0.5rem;
        color: red;
    }
}

@media (max-width: 1024px) {
    .workshopName {
        font-size: 1.5rem;
    }

    .workshopDiv {
        padding: 15px;
        max-width: 90%;
    }
}


@media (max-width: 768px) {

    .container {
        width: 100%;
        margin: 0 auto;
        font-size: 1rem;
    }

    .classes h1 {
        font-size: 2rem;
    }

    .classes p {
        font-size: 0.8rem;

    }

    .classes p.cancellations {
        font-style: italic;
        font-size: 0.5rem;
        color: red;
    }

    .workshopName {
        font-size: 1.2rem;
    }

    .workshopDiv {
        border-width: 2px;
        border-radius: 15px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .workshopName {
        font-size: 1rem;
    }

    .workshopDiv {
        padding: 10px;
    }
}