. button {
    /* padding: 10px 16px;
    font-size: 1rem;
    cursor: pointer; */

    background-color: #4CAF50;
    color: #fff;
    padding: 12px 28px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}