/* .shop p {
    font-style: italic;

}

.shopFlex {
    display: flex;
    align-items: center;
    margin-left: 20px;

}

.itemDiv {
    border: 4px solid black;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 20px;
    width: 1000px;
    height: 300px;
}

.itemDiv h2 {
    font-size: 30px;
    color: darkslategrey;
}

@media (max-width: 775px) {

    .container {
        width: 100%;
        margin: 0 auto;
        font-size: 0.5rem;
    }

    .shop h1 {
        font-size: 2rem;
    }


    .shop p .opener {
        font-style: italic;
        font-size: 0.8rem;
    }

    .shopCategories h2 {
        color: cadetblue;
        margin-bottom: 15px;
        text-align: center;
        font-size: 1.2rem;
    }

    .shopCategories p {
        font-size: 0.8rem;

    }
}



@media (max-width: 768px) {

    .container {
        width: 100%;
        margin: 0 auto;
        font-size: 1rem;
    }

    .shop h1 {
        font-size: 2rem;
    }



    .shop p .opener {
        font-style: italic;
        font-size: 0.8rem;
    }

    .shopCategories h2 {
        color: cadetblue;
        margin-bottom: 15px;
        text-align: center;
        font-size: 1.2rem;
    }

    .shopCategories p {
        font-size: 0.8rem;

    }
}


@media (max-width: 375px) {

    .container {
        width: 100%;
        margin: 0 auto;
        font-size: 1rem;
    }

    .shop h1 {
        font-size: 2rem;
    }

    .shop .opener {
        font-size: 0.8rem;

    }

    .shopIntro {
        font-size: 0.8rem;
    }

    .shopFlex {
        display: flex;
        align-items: center;
        margin-left: 5px;
        margin-right: 5px;
    }

    .shopFlex p {
        font-size: 0.8rem;
    }

    .itemDiv {
        border: 4px solid black;
        margin-bottom: 20px;
        border-radius: 25px;
        padding: 20px;
        width: 100%;
        height: 100%;
    }

} */

.shop p {
    font-style: italic;
}

.shopFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px 0;
    padding: 0 10px;
    box-sizing: border-box;
}

.itemDiv {
    border: 4px solid black;
    border-radius: 25px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    height: auto;
    box-sizing: border-box;
    /* background-color: white; */
    margin: 0 auto;
}

.itemDiv h2 {
    font-size: 2rem;
    color: darkslategrey;
}

.shop-product-card {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.shop-product-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #333;
}

/* responsive: */

@media (max-width: 1024px) {
    .itemDiv {
        padding: 15px;
        max-width: 90%;
    }

    .itemDiv h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .shop h1 {
        font-size: 2rem;
    }

    .shopFlex {
        margin: 10px;
        padding: 0;
    }

    .shop p,
    .shop .opener,
    .shopIntro,
    .shopFlex p {
        font-size: 0.9rem;
    }

    .itemDiv {
        border-width: 2px;
        border-radius: 15px;
        padding: 10px;
    }

    .itemDiv h2 {
        font-size: 1.3rem;
    }

    .shopCategories h2 {
        color: cadetblue;
        margin-bottom: 15px;
        text-align: center;
        font-size: 1.2rem;
    }

    .shopCategories p {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .shop h1 {
        font-size: 1.5rem;
    }

    .shop p,
    .shop .opener,
    .shopIntro,
    .shopFlex p {
        font-size: 0.8rem;
    }

    .itemDiv h2 {
        font-size: 1.1rem;
    }
}