.nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 60px;
    flex-wrap: nowrap;
}

.site-title {
    color: white;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    flex-shrink: 0;
    min-width: 200px;
    max-width: 100%;
}

.site-title:hover {
    color: white;
    text-decoration: none;
    cursor: default;
    background-color: #555
}

/* .navMenu {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    max-width: 50%;
    overflow-x: auto;
    overflow-x: hidden;
    flex-grow: 1;
    flex-shrink: 1;
} */

.navMenu {
    list-style: none;
    display: flex;
    gap: 0.15rem;
    margin: 0;
    padding: 0 1.25rem;
    /* width: auto; */
    flex-grow: 0;
    justify-content: flex-end;
    overflow: visible;
}

.navMenu li {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0;
}

/* .navMenu li:last-child {
    margin-left: auto;
     pushes last items to the right 
} */

.navMenu a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: center;
    height: 100%;
}

.navMenu li:hover {
    background-color: #555;
    border-radius: 5px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

/* My Profile main link */
.profile-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    height: 60px;
    display: flex;
    align-items: center;
}

.profile-link:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Dropdown menu */
.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    background-color: #333;
    border: 1px solid #444;
    padding-left: 0;

}



.dropdown-content li {
    list-style: none;
    width: 100%;
}


.dropdown-content a {
    display: block;
    padding: 0.75rem 1rem;
    color: white;
    text-decoration: none;
    text-align: center;
}


.dropdown-content li:hover {
    background-color: #555;
}


.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content a:hover {
    background-color: #555;

}


/* Responsive menu toggle */
@media (max-width: 1589px) {
    .menu-toggle {
        display: block;
    }

    .navMenu {
        align-items: flex-start;
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        flex-direction: column;
        background-color: #333;
        border: 1px solid #444;
        padding: 0.5rem 0;
        z-index: 1001;
        gap: 0;
    }

    .navMenu li {
        width: 100%;
        text-align: left;
        padding: 0.5rem 1rem;
    }

    .navMenu.active {
        display: flex;
    }

    .navMenu li:last-child {
        /* text-align: left;
        border-top: 1px solid #444;
        padding: 0.5rem 1rem;
        display: block; */
        margin-left: 0;
    }

    .navMenu li:hover {
        background-color: #555;
    }
}