.login-form {
    background: none;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    padding: 40px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}


form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    max-width: 600px;
}

.label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
}


.form-actions {
    text-align: center;
    margin-top: 30px;
}

.btn-submit {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 28px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #45a049;
}


.error {
    color: red;
    font-size: 0.9rem;
    margin-top: -5px;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}

.login-help {
    margin-top: 1rem;
    text-align: center;
}

.link-button {
    background: none;
    border: none;
    color: #555;
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
    font-size: 0.9rem;
}

/* Responsive Design*/

@media (max-width: 768px) {
    .login-form {
        padding: 40px 20px;
        margin: 60px auto;
        max-width: 90%;
    }

    .form-group input {
        font-size: 1rem;
        padding: 8px;
    }

    .btn-submit {
        font-size: 0.9rem;
        padding: 10px 22px;
    }
}

@media (max-width: 480px) {
    .login-form {
        padding: 30px 15px;
    }

    .label {
        font-size: 0.85rem;
    }

    .error {
        font-size: 0.75rem;
    }

    .btn-submit {
        padding: 8px 18px;
        font-size: 0.85rem;
    }
}